
.pasoapasoWrap {
    border: 1px solid black;
    width: 100%;
    height: 250px;
    
}

.image {
    background-color: pink;
    height: 100%;
    width: 100%;
}

.text {
    background-color: rgba(219, 214, 214, 0.746);
    min-width: 40px;
    max-width: 250px;
    border: 1px solid black;
    height: 100%;
    position: inherit;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.title {
    font-weight: 600;
}

.textinfo {
    text-align: center;
    border: 1px solid black;
    width: 70px;
    background-color: rgba(219, 214, 214, 0.746);
    cursor: pointer;
}
