* {
    box-sizing: border-box;
    margin: 0;
}


.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.singup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}