
<div class="singup">
    <div class="title">
        <h3>REGISTRARSE</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur at rerum laborum! Voluptatem, dolor ab nostrum explicabo.</p>
    </div>
    <div class="singupForm">
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Apellido">
        <input type="email" placeholder="ejemplo@ejemplo.com">        
        <input type="password" placeholder="**********">
    </div>
    <div>

    </div>
    <div class="singupButton">
        <button>REGISTRARSE</button>
        <p>Al registrarse acepta <b>Términos y Condiciones</b></p>
        
    </div>
    <hr>
    <div>
        <button class="facebook">
            <span>Ingresar con Facebook</span>
        </button>
        <button class="google">
            <span>Ingresar con Google</span>
        </button>
    </div>
</div>