<div class="destWrap">
    <div class="image">
        
    </div>
    <div class="label">
        <div class="name">NOMBRE DEL LUGAR</div>
        <div class="stars">⭐⭐⭐⭐⭐</div>
        <div class="description"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id omnis explicabo.</p></div>
        <div class="price">
            <div class="money">
                <span class="lastprice">$1600</span>
                <span class="currentprice">$950</span>
            </div>
            <div class="moreInfoWrap">
                <button class="moreInfo">VER</button>
            </div>
        </div>
    </div>
</div>