<div class="destWrap">
    <div class="singledest" *ngFor="let dest of destacadosData">
        <div class="image">
            <img href=>
        </div>
        <div class="label">
            <div class="name">{{ dest.name }}</div>
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <div class="description"><p>{{ dest.description }}</p></div>
            <div class="price">
                <div class="money">
                    <span class="lastprice">{{ dest.lastPrice }}</span>
                    <span class="currentprice">{{ dest.currentPrice }}</span>
                </div>
                <div class="moreInfoWrap">
                    <button class="moreInfo">VER</button>
                </div>
            </div>
        </div>
    </div>
</div>  