.destWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.singledest {
    border: 1px solid black;
    height: 275px;
    max-width: 250px;
    background-color: pink;
    min-width: 250px;
    margin: 2px;
}

.image {
    background-color: pink;
    height: 40%;
}

.label {
    height: 60%;
    background-color: white;
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}

.name {
    font-weight: 600;
    margin-top: 12px;
}

.description {
    font-size: .7em;
    text-align: center;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.money {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 50%;
}

.currentprice {
    width: 60%;
}

.lastprice {
    font-size: .7em;
    width: 40%;
    text-decoration: line-through;
}

.moreInfoWrap {
    width: 50%;
    padding: 1px 5px;
}

.moreInfo {
    width: 100%;
}


