<div class="formWrapper">
   <div class="loginText">
       <span>INICIAR SESIÓN</span>
   </div>
   <button class="facebook">
       <span>Ingresar con Facebook</span>
   </button>
   <button class="google">
       <span>Ingresar con Google</span>
   </button>
   <hr>
   <div class="login">
        <p class="acount">CUENTA DE CUPOTANDIL</p>
        <input type="email" placeholder="ejemplo@ejemplo.com.ar">
        <input type="password" placeholder="*********">
        <button>INGRESAR</button>
   </div>
   <div>
       <a href="" class="lostpassa">Olvide mi contraseña</a>
   </div>
   <hr>
   <div class="newAccount">
       <p>¿AÚN NO TIENES CUENTA?</p>
   </div>
</div>

